@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 247, 255);
    font-size: 1.5em;
}

h1 {
    color: #1C0051;
}

a {
    text-decoration: none;
    color: #1C0051B3 ;
}

a::before {
    content: '>>';
    font-weight: 50;
    font-size: 0.7em;
}

h5 {
    font-weight: 100;
    font-family: 'Asap', sans-serif;
    font-size: 0.7em;
    color: #2727FF
}

.content_top {
    display: flex;
}

.content_bottom {
    margin-top: 35px;
    display: flex;
}

.content_over {
    height: 190px;
    width: 230px;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px rgb(228, 228, 228);
    border-radius: 20px;
}

.content_over:hover {
    background-color: rgb(246, 246, 246);
}


.content_icon {
    height: 30px;
    margin-top: 50px;
}

.content {
    font-weight: bolder;
    font-size: 0.7em;
    font-family: 'Asap', sans-serif;
    margin-top: 15px;
}