@charset "UTF-8";

/*  MIDIAS GLOBAIS - MOBILE FIRST */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../../../mediaqueries/imagens/back-phone.jpg) no-repeat center center / cover;
}

main {
    background-color: rgba(255, 255, 255, 0.500);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

img#phone {
    display: block;
}

img#tablet {
    display: none;
}

img#print {
    display: none;
}

img#pc {
    display: none;
}

img#tv {
    display: none;
}

@media print {
    body {
        /* BACKGROUND IMAGE NÃO FUNCIONA NA  VERSÃO DE IMPRESSORA */
        background-image: url(../../../mediaqueries/imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-image: url(../../../mediaqueries/imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-image: url(../../../mediaqueries/imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-image: url(../../../mediaqueries/imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}