@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    font-size: 18px;
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

main .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1440px;
    margin: 0 auto;
}

.left-bar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 100vh;
    background: url(../images/bg-main-desktop.png) no-repeat center center / cover;
}

.left-bar picture {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.left-bar picture>div:nth-child(1) {
    transform: translateX(100px);
}

.left-bar picture>div:nth-child(2) {
    transform: translateX(200px);
}

.left-bar picture>div {
    position: relative;
}

.left-bar picture .front-card .card-infos {
    position: absolute;
    padding: 15px;
    top: 0px;
    left: 0px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
}

.left-bar picture .front-card .card-infos .card-number,
.left-bar picture .front-card .card-infos .bottom-card {
    align-self: end;
}

.left-bar picture .front-card .card-infos .card-number {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--white);
}

.left-bar picture .front-card .card-infos .bottom-card {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 0.7rem;
    color: var(--light-grayish-violet);
}

.left-bar picture .back-card {
    display: grid;
    grid-template-columns: 1fr;
}

.left-bar picture .back-card .cvc {
    position: absolute;
    right: 50px;
    align-self: center;
    font-size: 0.8rem;
    color: var(--white);
    letter-spacing: 2px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-content: center;
    padding: 60px;
    margin-left: 250px;
}

form label {
    display: block;
    margin-bottom: 2px;
    font-size: 0.7rem;
    color: var(--very-dark-violet);
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 15px;
    border: 2px solid var(--light-grayish-violet);
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    color: var(--light-grayish-violet);
    background-color: var(--very-dark-violet);
    cursor: pointer;
}

form .name,
form .card-number,
form .button {
    grid-column: 1/-1;
}

form .exp-date input {
    width: 45%;
}