@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    font-size: 18px;
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

main.container {
    display: flex;
}

.card-bar {
    min-height: 100vh;
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background: url(../images/bg-main-desktop.png) no-repeat center center / cover;
}

.card-bar picture {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.card-bar picture .card-container:nth-child(1) {
    transform: translateX(150px);
    position: relative;

}

.card-bar picture .card-container:nth-child(1) .card-info {
    position: absolute;
    top: 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}

.card-bar picture .card-container:nth-child(1) .card-info .number {
    align-self: end;
    color: var(--white);
    text-align: center;
    font-size: 1.7rem;
    white-space: nowrap;
}

.card-bar picture .card-container:nth-child(1) .card-info .name,
.card-bar picture .card-container:nth-child(1) .card-info .exp-date {
    align-self: end;
    color: var(--light-grayish-violet);
    font-size: 0.7rem;
}

.card-bar picture .card-container:nth-child(1) .card-info .logo,
.card-bar picture .card-container:nth-child(1) .card-info .number {
    grid-column: 1/-1;
}

.card-bar picture .card-container:nth-child(1) .card-info .exp-date {
    text-align: right;
}

.card-bar picture .card-container:nth-child(2) {
    transform: translateX(250px);
}